body {
    background-color: #21593B;
    margin: 0;

     /* cores de texto */
  --text-white: #ffffff;
  --text-dark: #143614;

    /* cores de fundo */
    --bg-grey-light: #f5f5f5;
    --bg-white: #ffffff;
    --bg-blue-dark: #142136;
    --bg-indigo: #6366f1;
}

.header1 {
    background: #ffffff;
    display: grid;
    grid-template-columns: 10% 20% auto;
    align-items: center;
    padding-inline: 2%;
}
.header2 {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    padding-inline: 2%;
    text-align: center;
    border-bottom: 2px solid rgb(211, 211, 211);
    background-color: #F8F8F8;
}

.c2{
    margin: 3%;
}

.recheio{
    display: grid;
    grid-template-columns: 70% 3% 27%;
    padding-inline: 2%;
    margin: 1%;
    height: 80.2vh;
}
.filtro{
    border-radius: 3em;
    background-color: #ffffff;
    height: 68vh;
    width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.peneira{
  display: grid;
  grid-template-columns: auto 50%;
  padding: 5px;
  padding-inline: 10%;
  text-align: center;
}
.btn_container{
  text-align: center;
  margin: 2%;
}
.btn{
  background-color:#4EAB7F;
  color: #21593B;
  height: 4.3vh;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 1em;
  cursor: pointer;
  
}
.btn2{
  background-color:#4EAB7F;
  color: #21593B;
  height: 3vh;
  width: 5vw;
  font-size: 1em;
  font-weight: bold;
  border-radius: 1em;
  cursor: pointer;
  
}
.titulo{
  border-top: 7px solid #FFD200;
  text-align: center;
  margin: 5%;
}
.txt{
  text-align: center;
  margin: 5%;
}
.input{
    border: 2px solid black;
    height: 45px;
    text-align: center;
    font-size: 1em;
}

.mapa {
    background-color: #ffffff;
    border: solid 15px #4EAB7F;
    max-height: 79vh;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

* {

    padding: 0;
    margin: 0;
    border: none;
   
    box-sizing: border-box;
    font-family: "Raleway Especial";
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    text-align: center;
}



.item {
    font-size: 0.9em;
}
.img{
    margin: 5%
}

@media screen and (min-width: 600px) {
    .grid {
        justify-content: flex-end;
    }

    .item {
        margin-right: 1em;
        text-align: center;
    }
}

@font-face {
    font-family: "Raleway Especial";
    src: url(PlastoTrial-Regular.otf);
}



.container {
    display: grid;
    grid-template-columns: 100%;
}

a {
    color: #000000;
}

.footer{
    background-color: #F8F8F8;
    width: 100%;
    color:#21593B;
    text-align: center;
    color: #373737;
    
}
.corDiferenteFooter{
  color: #959595;
}
.footer p{
  font-family: 'Open Sans', sans-serif;
}

.modal_info .modal_info_conteudo .modal_recheio h4{
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
  display:inline-block;
  text-align: right;
  transition: 600ms;
  border-bottom: 3px solid transparent;
}

.item a:hover{
border-color: #fdc82f;
transform: scaleX(1);
  transform-origin: left;

}













.switch {
    position: relative;
    display: inline-block;
    margin: 5px 5px 0px 5px;
    text-align: center;
  }
  
  .switch > span {
    position: absolute;
    top: 10px;
    pointer-events: none;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
    align-items: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
    color: #4EAB7F;
  }
  
  input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
  }
  
  .switch > span.on {
    left: 0;
    padding-left: 2px;
    color: #4EAB7F;
  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #4EAB7F;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #4EAB7F;
    
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }
  
  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
  }

/* css modal do btn info no filtro*/
  .modal_info{
    display: none;
    position: fixed;
    z-index: 3; 
    padding-top: 5%;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.24);
    
    
  }
  .modal_info_conteudo{
    
    overflow:scroll;
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: white;
    border: 20px solid #4EAB7F;
  }
  .modal_recheio{
    margin: 30px;
    
  }
  .h1{
    color: #21593B;
    text-align: left;
    border-bottom: 5px solid #21593B;
    font-size: 1.8em;
    font-weight: bold;
  
    
  
  }
  .h1-2{
    color: #21593B;
    text-align: center;
    border-bottom: 5px solid #21593B;
    font-size: 1.2em;
    font-weight: bold;
  }
  .final{
    padding-inline: 20%;
  }
  .final h1{
    border: none;
     text-align: center;
      margin: 30px;
       font-size: auto;
   
  }
  .cinza{
    background-color: #D9D9D9;
  
  }
  .img_txt{
    display: grid;
    grid-template-columns: 30% auto
  }
  .img_txt img{
    height: 30px;
    width: auto;
    margin-inline: 15px;
  
  }
  
  .btn_x button{
   
    border-radius: 60%;
    background-color: white;
    border: none;
    position:fixed;
    right: 12%;
  
    margin: 10px;
    cursor: pointer;
  }
  .h4{
    margin: 10px;
    margin-bottom: 30px;
    text-align: left;
    padding: 10px;
    font-size: 1.4em;
    font-weight:normal;
  }
/* fim do css modal do btn info no filtro*/
