.informacoes{
    width: 40%;
    border: 1px solid red;
    display: none;
}

.setentaPorcento{
    width: 60%;
}

.modal_info2{
    display: block;
    position: fixed;
    z-index: 3; 
    padding-top:clamp(9rem, 9vw, 9.5rem);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.24);
    
    
  }
  .modal_info_conteudo2{
    
    margin: auto;
    width: 60%;
    height: auto;
    background-color: #4EAB7F;
  }
  .amarelo2{
    background-color: #FFCC32;
    text-align: center;
    padding: 1.5%;
    padding-inline: 0px;
    height: auto;
  }
  .amarelo2 h4{
    font-size: clamp(0.5em, 0.5em + 0.5vw, 1em);
    padding-inline:10%;
    padding-top: 2%;
  }
  .imagemEx2{
    background-color: #ffffff;
    border: clamp(0.3em, 0.3em + 0.3vw, 0.5em) solid #FFCC32;
  
  }
  .imgInfo2{
    max-width: 100%;
    width: 700px;
  }
  .conteudoEx2{
    padding: 15px;
    display: grid;
    grid-gap: 1rem;
    place-items: center;
  }
  
  @media only screen and (max-width: 480px) {
    .imgInfo2 {
      width: 100%;
    }
  }
  
  @media (min-width: 600px) {
    .conteudoEx2 { grid-template-columns: repeat(1, 1fr); }
  
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .conteudoEx2 { grid-template-columns: repeat(2, 2fr); }
    
  }
  
  
  
  .btn_x2 button{
   
    border-radius: 100%;
    background-color: #ffffff;
    border: none;
    position:fixed;
    right: 20%;
    height: calc(1em + 1vw);
  
    margin: 10px;
    cursor: pointer;
  }
  
