.menuSobe{
    background-color: rgb(247, 247, 247);
    width: 100vw;
    height:0vh;
    transition: height .5s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 4;
    /*overflow: hidden;*/



    position: absolute;
    bottom: 0;


    transform: translate(0, -0%);
   
    text-align: center;
    overflow:auto;
    position: fixed;
   
}
.menuSobe img{
    margin-top: 10%;
    height: 40px;
    width: 40px;
}
.menuSobe #titulo{
    padding-top: 10%;
    font-size: 1.2em;
}
.menuSobe button{
    background-color: transparent;
    border: none;
}
.footer button{
    background-color: transparent;
    border: none;
}
/**{

    padding: 0;
    margin: 0;
}*/



















.li a {   color: rgb(62, 146, 83);}


.nav {
  color: rgb(62, 146, 83);
  width : 80vw; 
  margin : 40px auto; 
  border-left: 1.5px solid  rgb(62, 146, 83);
}

.span {
    font-weight: bold;
    text-align: left;
    font-size : 1.2em;
    cursor : pointer;
    display: block;
    padding-inline: 5%;
    margin-top: 15px;
    
    
}


.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: left;
  padding-inline: 10%;
  list-style-type: none ;
  transition: height .4s ease;
}

.slide li {padding : 15px;}

.btn_filtroSobe{
    color: rgb(62, 146, 83);
    width: 100%;
    text-align: left;
    padding: 15px;
}
.btn_filtroSobe img{
    float: right;
}

